<html>
<head>
    <title> Login </title>
</head>
<body>
<label>email</label>
<input type="text" name="email" id="email">
<label>Password</label>
<input type="password" name="password" id="pwd">
<input type="submit" id="login" name="login">
</body>
</html>